////////// SIDEBAR ////////
$sidebar-width-lg: 255px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;


$sidebar-bg: #27293d;
$sidebar-menu-color: #959cb6;
$sidebar-submenu-color: #959cb6;
$sidebar-menu-active-bg: #3a3f51;
$sidebar-menu-active-color: #fff;
$sidebar-menu-hover-bg: #3a3f51;
$sidebar-menu-hover-color: #fff;
$sidebar-submenu-hover-color: #fff;
$sidebar-submenu-active-color: #fff;
$sidebar-menu-icon-color: #bfccda;
$sidebar-menu-icon-active-color: #2b80ff;
$sidebar-menu-arrow-color: #939393;
$sidebar-profile-name-color: #fff;
$sidebar-profile-title-color: #7e7e7e;
$sidebar-search-color: #7e7e7e;
$sidebar-search-border: #7e7e7e;
$sidebar-title-color: #7e7e7e;

$sidebar-menu-font-size: .875rem;
$sidebar-menu-padding-left: 1.75rem;
$sidebar-menu-padding-right: 1.75rem;
$sidebar-menu-padding-top: .75rem;
$sidebar-menu-padding-bottom: .75rem;

$sidebar-submenu-padding: .25rem 0 0 3.5rem;
$sidebar-submenu-font-size: .75rem;
$sidebar-submenu-item-padding: .5rem 1rem;

$sidebar-icon-font-size:  1.125rem;
$sidebar-arrow-font-size: .625rem;

$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0 1.625rem 2.25rem 1.188rem;

$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;

$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$sidebar-box-shadow: 6px 16px 31px -18px #b7bcd1;

$rtl-sidebar-submenu-padding: 0 4.5rem 0 0;

$icon-only-collapse-width: 190px;
$icon-only-menu-bg: $sidebar-bg;

///////// SIDEBAR ////////

///////// BOXED LAYOUT ///////
$boxed-container-width: 1200px;
$boxed-layout-bg: #c6c8ca;
///////// BOXED LAYOUT ///////

///////// SETTINGS PANEL ////////

$settings-panel-width: 300px;

///////// NAVBAR ////////

$navbar-default-bg: #27293d;
$navbar-height: 64px;
$navbar-menu-color: #b1b1b5;
$navbar-font-size: .875rem;
$navbar-icon-font-size: .9375rem;

///////// NAVBAR ////////